

@{
    Layout = "_WorkLayout";
    ViewData["Title"] = "WebLib | Изменение отдела";
}

@model WebLib.Models.Repositories.CompositeModels.Departments.DepartmentEditModel

@Html.Partial("LibrarianBookMenu")

@using (Html.BeginForm("AddDepartment", "Admin", FormMethod.Post, new { @class = "input-wrapper" }))
{
    @Html.HiddenFor(m => m.Department.Id)
    <div class=input-form-area>
        @Html.LabelFor(m => m.Department.Name, "Название:")
        @Html.ValidationMessageFor(m => m.Department.Name, null, new { @class = "validation-message dark" })
        @Html.EditorFor(m => m.Department.Name, new { htmlAttributes = new { @class = "input-form" } })
    </div>
    <div class=input-form-area>
        @Html.LabelFor(m => m.SelectedLibrary, "Библиотека:")
        <span class="validation-message dark"></span>
        @Html.DropDownListFor(m => m.SelectedLibrary, Model.Libraries as SelectList, new { @class = "select-drop-list", id = "library-list" })
    </div>

    <input type="submit" class="submit-button-gray" value="Сохранить" />
}
