
@{
    Layout = "_WorkLayout";
    ViewData["Title"] = "WebLib | Изменение книги";
}

@model WebLib.Models.Repositories.CompositeModels.Books.BookEditModel
@Html.Partial("_AdminBookMenu")

    @using (Html.BeginForm("EditBook", "Admin", FormMethod.Post, new { @class = "input-wrapper" }))
    {
        @Html.HiddenFor(m => m.Book.Id)
        @Html.HiddenFor(m => m.Book.AuthorId)
        @Html.HiddenFor(m => m.Author.Id)

        <div class=input-form-area>
            @Html.LabelFor(m => m.Author.Surname, "Фамилия автора:")
            @Html.ValidationMessageFor(m => m.Author.Surname, null, new { @class = "validation-message dark" })
            @Html.EditorFor(m => m.Author.Surname, new { htmlAttributes = new { @class = "input-form" } })
        </div>
        <div class=input-form-area>
            @Html.LabelFor(m => m.Author.FirstName, "Имя автора:")
            @Html.ValidationMessageFor(m => m.Author.FirstName, null, new { @class = "validation-message dark" })
            @Html.EditorFor(m => m.Author.FirstName, new { htmlAttributes = new { @class = "input-form" } })
        </div>
        <div class=input-form-area>
            @Html.LabelFor(m => m.Author.Patronymic, "Отчество автора:")
            <span class="validation-message dark"></span>
            @Html.EditorFor(m => m.Author.Patronymic, new { htmlAttributes = new { @class = "input-form" } })
        </div>
        <div class=input-form-area>
            @Html.LabelFor(m => m.Book.Title, "Название: ")
            @Html.ValidationMessageFor(m => m.Book.Title, null, new { @class = "validation-message dark" })
            @Html.EditorFor(m => m.Book.Title, new { htmlAttributes = new { @class = "input-form" } })
        </div>
        <div class=input-form-area>
            @Html.LabelFor(m => m.SelectedDepartmentId, "Отдел:")
            <span class="validation-message dark"></span>
            @Html.DropDownListFor(m => m.SelectedDepartmentId, Model.Departments as SelectList, new { @class = "select-drop-list", id = "department-list" })
        </div>
        <div class=input-form-area>
            @Html.LabelFor(m => m.SelectedLibraryId, "Библиотека:")
            <span class="validation-message dark"></span>
            @Html.DropDownListFor(m => m.SelectedLibraryId, Model.Libraries as SelectList, new { @class = "select-drop-list", id = "library-list" })
        </div>

        <input type="submit" class="submit-button-gray" value="Сохранить" />
    }
 



        <script type="text/javascript">
    $(function () {

        $('#library-list').change(function()
        {
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DepartmentListByLibrary")/',
                data: { index: id },
                success: function (data) {

                    $('#department-list').replaceWith(data);
                }
            });
        });
    })
        </script>
