
@{
    Layout = "_WorkLayout";
    ViewData["Title"] = "WebLib | Изменение читателя";
}


@model WebLib.Models.ReaderModel

@Html.Partial("_AdminBookMenu")


@using (Html.BeginForm("EditReader", "Admin", FormMethod.Post, new { @class = "input-wrapper" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class=input-form-area>
        @Html.LabelFor(m => m.Surname, "Фамилия:")
        @Html.ValidationMessageFor(m => m.Surname, null, new { @class = "validation-message dark" })
        @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { @class = "input-form" } })
    </div>
    <div class=input-form-area>
        @Html.LabelFor(m => m.FirstName, "Имя:")
        @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "validation-message dark" })
        @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "input-form" } })
    </div>
    <div class=input-form-area>
        @Html.LabelFor(m => m.Patronymic, "Отчество:")
        <span class="validation-message dark"></span>
        @Html.EditorFor(m => m.Patronymic, new { htmlAttributes = new { @class = "input-form" } })
    </div>
    <div class=input-form-area>
        @Html.LabelFor(m => m.Adress, "Адрес:")
        @Html.ValidationMessageFor(m => m.Adress, null, new { @class = "validation-message dark" })
        @Html.EditorFor(m => m.Adress, new { htmlAttributes = new { @class = "input-form" } })
    </div>
    <div class=input-form-area>
        @Html.LabelFor(m => m.PhoneNumber, "Телефон:")
        @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "validation-message dark" })
        @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "input-form" } })
    </div>


    <input type="submit" class="submit-button-gray" value="Сохранить" />
}


