@model IEnumerable<WebLib.Models.Repositories.CompositeModels.Books.BookViewModel>

<div class="db-list">
    @if (Model != null)
    {
        foreach (WebLib.Models.Repositories.CompositeModels.Books.BookViewModel book in Model)
        {
            <div class="list-item">
                <div class="list-item-title">
                    "@book.Book.Title"
                </div>
                <ul class="list-item-info">
                    <li><span class="list-info-part">Автор: </span>@book.Author.Surname @book.Author.FirstName @book.Author.Patronymic</li>
                    <li><span class="list-info-part">Отдел: </span>@book.Department.Name</li>
                    <li><span class="list-info-part">Библиотека: </span>@book.Library.Name</li>
                </ul>
                <div class="edit-buttons-container">
                    @Html.ActionLink("Изменить", "EditBook", "Librarian",
                                             new { id = book.Book.Id }, new { @class = "edit"})|
                    @Html.ActionLink("Удалить", "DeleteBook", "Librarian",
                                             new { id = book.Book.Id }, new { @class = "delete"})
                </div>
            </div>
        }
    }
</div>