
@model IEnumerable<WebLib.Models.ShopModel>

<div class="db-list">

    @if (Model != null)
    {
        @foreach (WebLib.Models.ShopModel shop in Model)
        {
            <div class="list-library-shop">
                <div class="library-shop-name">
                    @shop.Name
                </div>
                <div class="library-shop-adress">
                    <ul class="list-item-info">
                        <li><span class="list-info-part">Адрес: </span>@shop.Adress</li>
                        <li><span class="list-info-part">Телефон: </span>@shop.PhoneNumber</li>
                    </ul>
                </div>
                <div class="edit-buttons-container list">
                    @Html.ActionLink("Изменить", "EditShop", "Admin",
                                       new { id = shop.Id}, new { @class = "edit"})|
                    @Html.ActionLink("Удалить", "DeleteShop", "Admin",
                                             new { id = shop.Id }, new { @class = "delete"})
                </div>
            </div>
        }
    }
</div>
